@page
@model ElevDB.Pages.Staff.StaffListModel
@{
}

<h1>Medarbejdere</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control"
                   asp-for="SearchTerm" />
            <span class="input-group-append">
                <button class="btn">
                    <i class="fas fa-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>

<table class="table">
    @foreach (var staff in Model.AllStaff)
    {
        <tr>
            <td>@staff.FullName()</td>
            <td>@staff.Email</td>
            <td>
                <a class="btn btn-lg" asp-page="./StaffDetail"
                   asp-route-staffId="@staff.staffId">
                    <i class="fas fa-search-plus"></i>
                </a>
                <a class="btn btn-lg" asp-page="./StaffEdit"
                   asp-route-staffId="@staff.staffId">
                    <i class="fas fa-edit"></i>
                </a>
            </td>
        </tr>
    }
</table>
<a asp-page=".\StaffEdit" class="btn btn-primary">Add New</a>