@page
@model ElevDB.Pages.Students.StudentListModel
@{
}

<h1>Studerende</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control"
                   asp-for="SearchTerm" />
            <span class="input-group-append">
                <button class="btn">
                    <i class="fas fa-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>

<table class="table">
    @foreach (var student in Model.Students)
    {
        <tr>
            <td>@student.FullName()</td>
            <td>@student.Email</td>
            <td>
                <a class="btn btn-lg" asp-page="./StudentDetail"
                   asp-route-StudentId="@student.StudentId">
                    <i class="fas fa-search-plus"></i>
                </a>
                <a class="btn btn-lg" asp-page="./StudentEdit"
                   asp-route-StudentId="@student.StudentId">
                    <i class="fas fa-edit"></i>
                </a>
            </td>
        </tr>
    }
</table>
<a asp-page=".\StudentEdit" class="btn btn-primary">Ny studerende</a>