@page "{studentId:int?}"
@model ElevDB.Pages.Students.StudentEditModel
@{
}

<h2>Editing @Model.Student.FullName()</h2>

<form method="post" style="width: 50%">
    <input type="hidden" asp-for="Student.StudentId" />
    <div class="form-group">
        <label asp-for="Student.FirstName"></label>
        <input asp-for="Student.FirstName" class="form-control" />
        <span class="text-danger" asp-validation-for="Student.FirstName" />
    </div>
    <div class="form-group">
        <label asp-for="Student.LastName"></label>
        <input asp-for="Student.LastName" class="form-control" />
        <span class="text-danger" asp-validation-for="Student.LastName" />
    </div>
    <div class="form-group">
        <label asp-for="Student.Address"></label>
        <input asp-for="Student.Address" class="form-control" />
        <span class="text-danger" asp-validation-for="Student.Address" />
    </div>
    <div class="form-group">
        <label asp-for="Student.City"></label>
        <input asp-for="Student.City" class="form-control" />
        <span class="text-danger" asp-validation-for="Student.City" />
    </div>
    <div class="form-group">
        <label asp-for="Student.Zipcode"></label>
        <input asp-for="Student.Zipcode" class="form-control" />
        <span class="text-danger" asp-validation-for="Student.Zipcode" />
    </div>
    <div class="form-group">
        <label asp-for="Student.CprNumber"></label>
        <input asp-for="Student.CprNumber" class="form-control" />
        <span class="text-danger" asp-validation-for="Student.CprNumber" />
    </div>
    <div class="form-group">
        <label asp-for="Student.Email"></label>
        <input asp-for="Student.Email" class="form-control" />
        <span class="text-danger" asp-validation-for="Student.Email" />
    </div>
    <div class="form-group" >
        <label asp-for="Student.PhoneNumber"></label>
        <input asp-for="Student.PhoneNumber" class="form-control" />
        <span class="text-danger" asp-validation-for="Student.PhoneNumber" />
    </div>
    <div class="form-group" >
        <label asp-for="Student.NextcloudUsername"></label>
        <input asp-for="Student.NextcloudUsername" class="form-control" />
        <span class="text-danger" asp-validation-for="Student.NextcloudUsername" />
    </div>
        <div class="form-group">
        <label asp-for="Student.NextcloudOneTimePassword"></label>
        <input asp-for="Student.NextcloudOneTimePassword" class="form-control"/>
        <span class="text-danger" asp-validation-for="Student.NextcloudOneTimePassword" />
    </div>
    <button type="submit" class="btn btn-primary">Gem</button> <a asp-page="./StudentDetail" asp-route-StudentId="@Model.Student.StudentId" class="btn btn-danger">Annuller</a>
</form>