@page
@model IndexModel
@{
    ViewData["Title"] = "Elevdatabase";
}

<div class="text-center">
    <h1 class="display-4">Velkommen til elevdatabasen</h1>
    <p>Brug menuerne øverst på siden til at navigere.</p>
</div>
